.container {
			margin: 4em;
			text-align: center;
			
		}

		body {
			background-color: #fcd04b;
		}

		#loa {
			color: white;
			font-family: lato;
			font-weight: 300;
			text-transform: uppercase;

		}

		#der {
			font-weight: 400;
			font-style: italic;
		}

		.loader {
			position: relative;
			margin: auto;
			border: 16px solid #bdc3c7;
			width: 120px;
			height: 120px; 
			border-top-color: #1abc9c;
			border-bottom-color: teal; 
			border-radius: 50%;
			animation: spin 2s linear infinite
		}

		.hand {
			border: 8px solid #bdc3c7;
			width: 111px;
			margin: auto;
			border-radius: 10px;
			top: 79px;
			position: relative;
			animation: spin 2s linear infinite;
			border-left-color: #1abc9c;
			border-right-color: teal; 
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}